<!DOCTYPE html>
<html>

<head>
  <title>Upload Cinema</title>
</head>

<body>
  <h1>Upload Cinema</h1>
  <form action="/create_item" method="post">
    <p>
      Title: <br />
      <input type="text" name = "title" maxlength="50" required/>
    </p>
    <p>
      Description <br/>
      <textarea name = "description" rows = "8" cols =60 maxlength="500" required></textarea>
    </p>
    
    <p>
      Framing: </br>
      <select name = "framing">
        <option value = "close-up"> close-up </option>
        <option value = "medium-shot"> medium shot </option>
        <option value = "wide-shot"> wide shot</option>
        <option value = "birds-eye"> birds-eye</option>
        <option value = "ants-eye"> ants-eye</option>
      </select>
    </p>
    
    <p>
      Composition: </br>
      <select name = "composition">
        <option value = "landscape"> landscape </option>
        <option value = "portrait"> portrait </option>
        <option value = "group shot"> group-shot</option>
        <option value = "nature"> nature </option>
        <option value = "architecture"> architecture</option>
      
      </select>
    </p>

    <p>
      Lens focal length<br/>
      <input type="number" name = "focal_length" pattern="[1-9][0-9]{0,3} required"/>
    </p>
    <p>
      Location <br/>
      <input type="text" name = "location" required/>
    </p>
    <input type = hidden name = "csrf_token" value = {{session.csrf_token}}>
    <input type = "submit" value ="Upload item"/>

  </form>
</body>


</html>

