
{% extends "layout.html" %}

{% block title %}Find Post{% endblock %}

{% block content %}

<h1>Find Post</h1>

<form action="/find_image" method="get">
  <p>
    <label for="query"> Keyword </label>
    <br/>
    <input type="text" name = "query" id="query" value = "{{query}}"/>
  </p>
    <input type = "submit" value ="Send"/>
</form>


{% if query %}
<h2> Results </h2>
<ul>
  {% for image in results%}
  <li><a href= "/image/{{image.id}}"> {{image.title}}</a> </li>
  {% endfor %}
</ul>

{% endif %}
{% endblock %}