<!DOCTYPE html>
<html>

<head>
  <title>Cinematography Reviewer</title>
</head>

<body>
  <h1>Cinematography Reviewer</h1>
  {% if session.username %}
  <p>
    Hello {{ session.username }}
  </p>
  {% endif %}


  <p>
    <b>Welcome to</b> <i>cinematography reviewer</i>:
  </p>
  
  {% if not session.username %}
  <a href="/login"> Login </a>
  <br>
  <a href="/register"> Sign up </a>
  <br>
  {% else %}
  <p>
    <a href="/add_image"> Upload Image </a>
    <br>
    <a href="/logout"> Logout </a>
  </p>
  {% endif %}
  <a href="/find_image"> Find post </a>
  <h2>Posts:</h2>
  <ul>
    {% for image in images %}
    <li> <a href = "/image/{{ image.id }}">{{image.title}}</a> </li>
    {% endfor %}
  </ul>
</body>


</html>
