<!DOCTYPE html>
<html>

<head>
  <title>Cinematography Reviewer</title>
</head>

<body>
  <h1>Cinematography Reviewer</h1>
  {% if session.username %}
  <p>
    Hello {{ session.username }}  You have an id of {{ session.user_id }}
  </p>
  {% endif %}


  <p>
    <b>Welcome to</b> <i>cinematography reviewer</i>:
  </p>
  
  {% if not session.username %}
  <a href="/login"> Login </a>
  <br>
  <a href="/register"> Sign up </a>
  <br>
  {% else %}
  <p>
    <a href="/add_cinema"> Upload Cinema </a>
    <br>
    <a href="/logout"> Logout </a>
  </p>
  {% endif %}
  <a href="/find_item"> Find post </a>
  <h2>Posts</h2>
  <ul>
    {% for item in items %}
    <li> <a href = "/item/{{ item.id }}">{{item.title}}</a> </li>
    {% endfor %}
  </ul>
</body>


</html>
