{% extends "layout.html" %}

{% block title %}Cinematography Reviewer{% endblock %}

{% block content %}
<p>
  <b>Welcome to</b> <i>cinematography reviewer</i>:
</p>
  

<h2>Posts</h2>

{% for image in images %}
<div class="image">
  <a href = "/image/{{ image.id }}">{{image.title}}</a> <br/>
  Poster: <a href="/user/{{ image.user_id }}">{{ image.username }}</a> <br/>
  Average-Score: {{ image.average_score }} <br/>
  Review-Count: {{ image.review_count }}
</div>
{% endfor %}
<p>
  <a href="/{{ page - 1 }}">&lt;&lt;</a>
  Page {{ page }}/{{ page_count }}
  <a href="/{{ page + 1 }}">&gt;&gt;</a>
</p>
<hr />

{% endblock %}
