{% extends "layout.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
<h2>{{image.title}}</h2>
<img class ="image-preview"src="/imagefile/{{ image.image_id }}"  />
<p>
  {{image.description  | show_lines}}
</p>

<ul>
  <li>Average rating: {{image.average_score}} / 5.0</li>
  <li> Author: <a href="/user/{{image.user_id}}" >{{image.username}} </a> </li>
  <li>Focal Length: {{image.focal_length}} mm</li>
  <li> Location: {{image.geolocation}}</li>
{% if classes %}
  {% for class in classes %}
  <li>{{class.title}}: {{class.value}}</li>
  {% endfor %}
{% endif %}
</ul>

{% if session.user_id == image.user_id%}
<p>
  <a href="/edit_image/{{ image.image_id }}">Edit</a>
  <a href="/remove_image/{{ image.image_id }}">Delete</a>
</p>
{% endif %}



<h2>Reviews ({{image.review_count}})</h2>
{% for review in reviews %}
<div class="review">
  <h3> <a href="/user/{{review.user_id}}">{{review.username}}:</a> {{review.score}} / 5  </h3>
  <p>{{review.rationale}}</p>
</div>
{% endfor %}

{% if session.user_id %}
<h2> New Review</h2>
<form action ="/create_review" method="post">
  <p>
    Score: </br>
    <input type ="number" name = "score" size = "1" pattern="[0-5]" required>
  </p>
  <p>
    Review: </br>
    <textarea name = "rationale" rows = "8" cols =60 maxlength="300"></textarea>
  </p>
  <input type = hidden name = "csrf_token" value = {{session.csrf_token}}>
  <input type = hidden name = "image_id" value = {{image.image_id}}>
  <input type = "submit" value ="review"/>
</form>
{% endif %}
<p>
  <a href="/"> Back </a>
</p>

{% endblock %}
