<!DOCTYPE html>
<html>

<head>
  <title>{{item.title}}</title>
</head>

<body>
  <h1>{{item.title}} by {{item.username}}</h1>
  <p>
    {{item.description}}
  </p>
  <p>
    Location: {{item.geolocation}}
  </p>
  
  <p>
    Focal Length: {{item.focal_length}}
  </p>

  <p>
    Ilmoittaja <a href="/user/{{item.user_id}}" >{{item.username}} </a>
  </p>
  
  {% if classes %}
  <p>
    Classes:
    <ul>
      {% for class in classes %}
      <li>{{class.title}}: {{class.value}}</li>
      {% endfor %}
    </ul>
  </p>
  {% endif %}

  {% if session.user_id == item.user_id %}
  <p>
    <a href = "/edit_item/{{item.item_id}}" >Edit</a>
    <br>
    <a href = "/remove_item/{{item.item_id}}" >Delete</a>
  </p>

  {% endif %}

  <p>
    <a href="/"> Back </a>
  </p>

</body>

</html>
