<!DOCTYPE html>
<html>

<head>
  <title>{{user.username}}</title>
</head>

<body>
  <h1>{{user.username}}</h1>
  
  <p>
      User {{user.username}} has made {{ items | count}} posts.
  </p>
  <h2>Posts</h2>
  
  <ul>
    {% for item in items %}
    <li><a href="/item/{{item.id}}"> {{item.title}} </a> </li>
    {% endfor %}
  </ul>

  {% if session.user_id == user.id %}
  <p>
    <a href = "/edit_profile/{{user.id}}" >Edit</a>
    <br>
  </p>
  {% endif %}

  <p>
    <a href="/"> Back </a>
  </p>

</body>

</html>
