<!DOCTYPE html>
<html>

<head>
  <title>{{user.username}}'s profile</title>
</head>

<body>
  <h1>{{user.username}}'s profile</h1>
  
  <p>
      User {{user.username}} has made {{ images | count}} posts.
  </p>
  <h2>Posts</h2>
  
  <ul>
    {% for image in images %}
    <li><a href="/image/{{image.id}}"> {{image.title}} </a> </li>
    {% endfor %}
  </ul>

  {% if session.user_id == user.id %}
  <p>
    <a href = "/edit_profile/{{user.id}}" >Edit</a>
    <br>
  </p>
  {% endif %}

  <p>
    <a href="/"> Back </a>
  </p>

</body>

</html>
